Лабораторная работа №10. ОСНОВЫ ОБРАБОТКИ ЕСТЕСТВЕННОГО ЯЗЫКА (NLP). ЗАДАЧА ТЕМАТИЧЕСКОГО МОДЕЛИРОВАНИЯ

ЗАДАНИЕ
1. Для выполнения задания используйте датасет с данными о спаме (https://www.kaggle.com/datasets/uciml/sms-spam-collection-dataset).
2***. Самостоятельно реализовать BoW, TF-IDF.
3. Решить задачу классификации с понижением размерности.
*** Использовать самостоятельно реализованные модели из предыдущих ЛР.
4. Решить задачу тематического моделирования с помощью LDA.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import train_test_split
data=pd.read_csv('../data/spam.csv', encoding='ISO-8859-1')
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [2]:
data=data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)
data

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [3]:
dict={"ham": 0,
   "spam": 1}
data["v1"]= data['v1'].map(dict)
data

      v1                                                 v2
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...
...   ..                                                ...
5567   1  This is the 2nd time we have tried 2 contact u...
5568   0              Will Ì_ b going to esplanade fr home?
5569   0  Pity, * was in mood for that. So...any other s...
5570   0  The guy did some bitching but I acted like i'd...
5571   0                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
import spacy
from sklearn.feature_extraction.text import CountVectorizer

df = data[:150]

def creatLemms(x):
    nlp = spacy.load("en_core_web_sm")
    nlpfunc = nlp(x)
    data_lematized = [word.lemma_ for word in nlpfunc]
    return " ".join(data_lematized)

words_list_l=[]
for i in range(df.shape[0]):
    words_list_l.append(creatLemms(df["v2"][i]))
df["v2"] = words_list_l

    
countVecotr_l = CountVectorizer(min_df=2, stop_words='english')
countVecotr = CountVectorizer(min_df=5, stop_words='english')

model_l = countVecotr_l.fit_transform(df['v2'])
print(model_l.shape)

model = countVecotr.fit_transform(data['v2'])
print(model.shape)

words_l = pd.DataFrame(model_l.A, columns=countVecotr_l.get_feature_names_out())
words = pd.DataFrame(model.A, columns=countVecotr.get_feature_names_out())

(150, 192)
(5572, 1602)

C:\Users\qwerty\AppData\Local\Temp\ipykernel_16348\1441681921.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["v2"] = words_list_l

In [5]:
words_l

,000,100,1000,12,150p,150ppm,16,18,20,50,...,win,winner,wkly,word,work,wow,xx,yeah,yes,yup
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
146,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
147,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
148,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
149,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
words

,00,000,02,03,04,06,0800,08000839402,08000930705,0870,...,yogasana,yr,yrs,yun,yup,zed,ì_,ìï,û_,ûò
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5567,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5568,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
5569,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5570,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5571,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
target_l=df["v1"]
target_l

0      0
1      0
2      1
3      0
4      0
      ..
145    0
146    1
147    0
148    0
149    0
Name: v1, Length: 150, dtype: int64

In [8]:
target=data["v1"]
target

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: v1, Length: 5572, dtype: int64

In [9]:
df = pd.concat([target_l, words_l], axis = 1,ignore_index = True)
df.shape

(150, 193)

In [10]:
data = pd.concat([target, words], axis = 1,ignore_index = True)
data.shape

(5572, 1603)

# Понижение размерности

In [11]:
from sklearn.feature_selection import  SelectKBest

skb = SelectKBest(k=20)
X_skb = skb.fit_transform(words_l, target_l)

print(words_l.shape)
print(X_skb.shape)

(150, 192)
(150, 20)

In [12]:
from sklearn.feature_selection import  SelectKBest

skb = SelectKBest(k=500)
X_skb = skb.fit_transform(words, target)

print(words.shape)
print(X_skb.shape)

(5572, 1602)
(5572, 500)

# LDA

In [13]:
from sklearn.decomposition import LatentDirichletAllocation
from sklearn.datasets import fetch_20newsgroups
n_samples = 2000
n_features = 1000
n_topics = 10
n_top_words = 20

In [14]:
def print_top_words(model, feature_names, n_top_words):
    for topic_idx, topic in enumerate(model.components_):
        print("Topic #%d:" % topic_idx)
        print(" ".join([feature_names[i]
                        for i in topic.argsort()[:-n_top_words - 1:-1]]))

In [15]:
lda_l = LatentDirichletAllocation(n_components=n_topics, max_iter=20,
                                learning_method='online',
                                learning_offset=50.,
                                random_state=0).fit(df)

In [16]:
lda_l.components_.shape

(10, 193)

In [17]:
lda_l.transform(df).shape

(150, 10)

In [18]:
lda = LatentDirichletAllocation(n_components=n_topics, max_iter=20,
                                learning_method='online',
                                learning_offset=50.,
                                random_state=0).fit(data)

In [19]:
lda.components_.shape

(10, 1603)

In [20]:
lda.transform(data).shape

(5572, 10)

In [21]:
print_top_words(lda_l, countVecotr.get_feature_names_out(), 10)

Topic #0:
ate angry 00 2mrw 86021 account askin 8th 500 350
Topic #1:
apartment acc 28 62468 air 4th abiola 85023 begin 87066
Topic #2:
anybody 150p aren apartment 50 85023 ages 2003 900 age
Topic #3:
4u 750 appreciate asked 62468 08712460324 3g 12hrs ave bedroom
Topic #4:
85023 asks 150p 300 asleep age aiyah 18 83355 abt
Topic #5:
00 3030 afternoon baby awake ave 1x150p appreciate advice auction
Topic #6:
60p activate 12 8007 announcement ago babe aiyo ad 20
Topic #7:
7pm aiyah 530 bak 00 await bath askin battery 20p
Topic #8:
babes alex 400 able asking ask 800 aathi 2003 anytime
Topic #9:
beer ass ac bag askd arrange 1327 21 accept bad

In [22]:
print_top_words(lda, countVecotr.get_feature_names_out(), 10)

Topic #0:
00 freemsg txtauction texting urawinner replying stopped high phones xchat
Topic #1:
okay lose liked watch askd cost london salary dunno tomo
Topic #2:
times hg didn imagine babes meeting yest weekend workin yahoo
Topic #3:
numbers activate shuhui 00 coffee earth selection looks meant 80062
Topic #4:
wanted needs juz plus telling saying surely messages month ring
Topic #5:
00 prob catch wonder class mobiles urgnt freemsg contacted cut
Topic #6:
gone honey knows dad ìï lets picked goto good waiting
Topic #7:
guaranteed luck comes goto ok green dollars juz liked wear
Topic #8:
lmao sort latest dont year seriously sending juz meh texting
Topic #9:
days goodmorning loved door urawinner december hard thinkin lift mother

# BoW

In [37]:
import pandas as pd
data=pd.read_csv('../data/spam.csv', encoding='ISO-8859-1')[0:4]["v2"]

In [42]:
from pprint import pprint

def create_bag_of_words(texts):
    bag_of_words_vectors = []
    unique_words = set(word for text in texts for word in text.split())
    word_dict = {word: i for i, word in enumerate(unique_words)}
    for text in texts:
        word_count = [0] * len(unique_words)
        for word in text.split():
            word_count[word_dict[word]] += 1
        bag_of_words_vectors.append(word_count)
    return bag_of_words_vectors, word_dict

vectors, words = create_bag_of_words(data)

for vector in vectors:
    print(vector)
pprint(words)

[1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1]
[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 3, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 2, 0, 1, 0, 1, 1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0]
[0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0]
{"08452810075over18's": 44,
 '2': 46,
 '2005.': 9,
 '21st': 2,
 '87121': 24,
 'Available': 37,
 'Cine': 16,
 'Cup': 12,
 'FA': 48,
 'Free': 25,
 'Go': 50,
 'Joking': 43,
 'May': 38,
 'Ok': 34,
 'Text': 11,
 'U': 3,
 'a': 14,
 'already': 23,
 'amore': 4,
 'apply': 36,
 'buffet...': 5,
 'bugis': 26,
 'c': 18,
 'comp': 10,
 'crazy..': 56,
 'dun': 35,
 'e': 33,
 'early': 55,
 'entry': 42,
 'final': 8,
 'got': 51,
 'great': 13,
 'hor...': 21,
 'in': 47,
 'jurong': 31,
 'la': 0,
 'lar...': 45,
 'n': 6,
 'oni...': 39,
 'only': 58,
 'point,': 32,
 'question(std': 27,
 "rate)T&C's": 28,
 'receive': 29,
 'say': 54,
 'say...': 49,
 'so': 52,
 'then': 17,
 'there': 7,
 'tkts': 57,
 'to': 30,
 'txt': 19,
 'u': 41,
 'until': 22,
 'wat...': 53,
 'wif': 1,
 'win': 40,
 'wkly': 20,
 'world': 15}

# TF-IDF

In [77]:
from pprint import pprint
import math

def calculate_tf(word, text):
    words = text.split()
    word_count = words.count(word)
    total_words = len(words)
    return word_count / total_words

def calculate_idf(word, texts):
    text_count = len(texts)
    word_appearances = sum(1 for text in texts if word in text)
    if word_appearances == 0:
        return 0
    return math.log(text_count / word_appearances)

def calculate_tfidf(texts):
    unique_words = set(word for text in texts for word in text.split())
    words_dict = {word: index for index, word in enumerate(unique_words)}
    tfidf_vectors = []
    for text in texts:
        tfidf_vector = []
        for word in unique_words:
            tf = calculate_tf(word, text)
            idf = calculate_idf(word, texts)
            tfidf = tf * idf
            tfidf_vector.append(tfidf)
        tfidf_vectors.append(tfidf_vector)
    return tfidf_vectors, words_dict

vectors, words = calculate_tfidf(data)
for vector in vectors:
    print(vector)
pprint(words)

[0.03465735902799726, 0.0, 0.0, 0.0, 0.06931471805599453, 0.06931471805599453, 0.0, 0.06931471805599453, 0.0, 0.0, 0.0, 0.0, 0.0, 0.06931471805599453, 0.0, 0.06931471805599453, 0.06931471805599453, 0.0, 0.0, 0.0, 0.0, 0.0, 0.06931471805599453, 0.0, 0.0, 0.0, 0.06931471805599453, 0.0, 0.0, 0.0, 0.0, 0.06931471805599453, 0.06931471805599453, 0.014384103622589043, 0.0, 0.0, 0.0, 0.06931471805599453, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.014384103622589043, 0.0, 0.0, 0.06931471805599453, 0.06931471805599453, 0.0, 0.06931471805599453, 0.0, 0.0, 0.06931471805599453, 0.0, 0.06931471805599453]
[0.0, 0.23104906018664842, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.23104906018664842, 0.0, 0.0, 0.0, 0.0, 0.23104906018664842, 0.0, 0.0, 0.0, 0.23104906018664842, 0.0, 0.23104906018664842, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0]
[0.0, 0.0, 0.049510512897138946, 0.0, 0.0, 0.0, 0.0, 0.0, 0.049510512897138946, 0.049510512897138946, 0.049510512897138946, 0.049510512897138946, 0.049510512897138946, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.049510512897138946, 0.049510512897138946, 0.0, 0.0, 0.0, 0.049510512897138946, 0.049510512897138946, 0.0, 0.049510512897138946, 0.049510512897138946, 0.049510512897138946, 0.14853153869141683, 0.0, 0.0, 0.0, 0.0, 0.0, 0.049510512897138946, 0.0, 0.049510512897138946, 0.0, 0.049510512897138946, 0.0, 0.09902102579427789, 0.0, 0.049510512897138946, 0.0, 0.049510512897138946, 0.010274359730420743, 0.09902102579427789, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.049510512897138946, 0.0]
[0.0, 0.0, 0.0, 0.2520535202036165, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.12602676010180824, 0.026152915677434625, 0.0, 0.0, 0.12602676010180824, 0.0, 0.12602676010180824, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.12602676010180824, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.12602676010180824, 0.0, 0.0, 0.12602676010180824, 0.0, 0.12602676010180824, 0.12602676010180824, 0.0, 0.0, 0.0]
{"08452810075over18's": 44,
 '2': 46,
 '2005.': 9,
 '21st': 2,
 '87121': 24,
 'Available': 37,
 'Cine': 16,
 'Cup': 12,
 'FA': 48,
 'Free': 25,
 'Go': 50,
 'Joking': 43,
 'May': 38,
 'Ok': 34,
 'Text': 11,
 'U': 3,
 'a': 14,
 'already': 23,
 'amore': 4,
 'apply': 36,
 'buffet...': 5,
 'bugis': 26,
 'c': 18,
 'comp': 10,
 'crazy..': 56,
 'dun': 35,
 'e': 33,
 'early': 55,
 'entry': 42,
 'final': 8,
 'got': 51,
 'great': 13,
 'hor...': 21,
 'in': 47,
 'jurong': 31,
 'la': 0,
 'lar...': 45,
 'n': 6,
 'oni...': 39,
 'only': 58,
 'point,': 32,
 'question(std': 27,
 "rate)T&C's": 28,
 'receive': 29,
 'say': 54,
 'say...': 49,
 'so': 52,
 'then': 17,
 'there': 7,
 'tkts': 57,
 'to': 30,
 'txt': 19,
 'u': 41,
 'until': 22,
 'wat...': 53,
 'wif': 1,
 'win': 40,
 'wkly': 20,
 'world': 15}